src/Ex_241004/Ex1_schema.xsd

<?xml version="1.0"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="xs:str"/>
                <xs:element name="Author" type="xs:str"/>
                <xs:element name="Description" type="xs:str"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
